{
  "openapi": "3.0.1",
  "info": {
    "title": "Kyvorn API",
    "description": "The public-facing API for Kyvorn that can be embedded into your executor.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://kyvornapi.peretas.tech"
    }
  ],
  "paths": {
    "/api/posts": {
      "get": {
        "description": "Returns all recent posts from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return (max 100, above will error out with 400 error)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search all posts with a query (leave blank to fetch basic results)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/posts/{id}": {
      "get": {
        "description": "Returns a specific post based on ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the post to fetch",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/scripts/raw/{scriptid}": {
      "get": {
        "description": "Deletes a script based on the ID supplied",
        "parameters": [
          {
            "name": "scriptid",
            "in": "path",
            "required": true,
            "description": "ID of the script to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Script deleted"
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The Post ID (Not script ID)"
          },
          "author": {
            "type": "object",
            "description": "Information about the post author",
            "properties": {
              "id": { "type": "string", "description": "ID of the post author", },
              "username": { "type": "string", "description": "Username of the post author", },
              "handle": { "type": "string", "description": "Handle of the post author (comes predefined with the @) ex: @kyvorn", },
              "verified": { "type": "boolean", "description": "True|false if the user has the verified attribute" },
              "dev": { "type": "boolean", "description": "True|false if the user has the dev attribute" },
              "admin": { "type": "boolean", "description": "True|false if the user has the admin attribute" },
              "respected": { "type": "boolean", "description": "True|false if the user has the respected attribute" },
              "avatar": { "type": "string", "format": "uri", "description": "Returns the random user avatar" }
            }
          },
          "content": {
            "type": "string",
            "description": "The description of the post, provided by the user"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
            "description": "The date the post was uploaded to Kyvorn"
          },
          "scriptInfo": {
            "type": "object",
            "description": "User-provided information about the script"
            "properties": {
              "game": { "type": "string", "description": "(User provided) The name of the game the script is compatible in" },
              "detection": { "type": "string", "description": "Detection in games, Detected|Undetected|Unknown" },
              "type": { "type": "string", "description": "The type of script it is" },
              "pricing": { "type": "string" },
              "bannerUrl": { "type": "string", "format": "uri", "nullable": true }
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "likes": { "type": "integer" }
            }
          },
          "scriptId": { "type": "string" },
          "liked": { "type": "boolean" },
          "scriptContent": { 
            "type": "string",
            "description": "The full script content of the post"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}